.board {
  border-collapse: collapse;
}

.board tr {
  font-size: 4rem;
}

.board tr:nth-child(even) td:nth-child(even),
.board tr:nth-child(odd) td:nth-child(odd) {
  background-color: #ffce9e;
}

.board tr:nth-child(odd) td:nth-child(even),
.board tr:nth-child(even) td:nth-child(odd) {
  background-color: #d18b47;
}

.board td {
  padding: 0;
  height: 5rem;
  width: 5rem;
  text-align: center;
  vertical-align: middle;
}

.board td img {
  height: 5rem;
  display: block;
}

.board tr:nth-child(even) td:nth-child(even).source_square,
.board tr:nth-child(odd) td:nth-child(odd).source_square {
  background-color: #dfb48a;
}

.board tr:nth-child(odd) td:nth-child(even).source_square,
.board tr:nth-child(even) td:nth-child(odd).source_square {
  background-color: #b67938;
}

.board td.target_square {
  background-image: radial-gradient(circle, rgba(0,0,0,0.3) 35%, rgba(0,0,0,0) 35%);
  background-image: -webkit-radial-gradient(circle, rgba(0,0,0,0.3) 35%, rgba(0,0,0,0) 35%);
  background-blend-mode: multiply;
}

.board tr:nth-child(even) td:nth-child(even).king_check,
.board tr:nth-child(odd) td:nth-child(odd).king_check {
  background: -webkit-radial-gradient(circle, red, #ffce9e);
}

.board tr:nth-child(odd) td:nth-child(even).king_check,
.board tr:nth-child(even) td:nth-child(odd).king_check {
  background: -webkit-radial-gradient(circle, red, #b67938);
}
